.gradient{
    height: 100vh;
    background:  linear-gradient(#139687 0% 20%, #DBDBD2 20% 100% );
    display: flex;
    justify-content: center;
}
.box{
    position: absolute;
    top: 20px;
    bottom: 20px;
    height: calc(100vh - 40px);
    
}

.color-icon{
    color: #B1B1B1;
}
/* left-menu */
.bgc-color-n{
    background-color: #8DDAFB;
}
.bgc-color-h{
    background-color: #EAEAEA;
}
.left-menu{
    display: flex;
    flex-direction: column;
}
.header-chat{
    height: 85px;
    
}
.icon-left-header > *{
    font-size: 25px;
    padding: 10px;
}
.img-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.n-icon{
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    color: #8DDAFB;
}
.n-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.n-text p{
    color: gray;
}
.search-left{
    height: 60px;
    background-color: white;
}
.list-chat{
    height: 100%;
    background-color: white;
}
.utents-name{
    position: absolute;
}

/* chat-right */
.bgc-header{
    background-color: #EAEAEA;
}
.bgc-chat{
    background-image: url(img/mine.jpg);
    height: calc(100% - 165px)
    
}
/* chat */

.message-chat{
    width: 100%;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.message{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    
}
.flex-message{
    display: flex;
    justify-content: flex-end;
}
.my-message{
    background-color: #D5F9BA ;
    
}
.utent-message{
    background-color: #FFFFFF;

}
.message > p{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%;
}


/* footer */
.footer-chat{
    height: 80px;
    width: 100%;
    background-color: #F3EEEA ;
}
.icon-footer{
    font-size: 30px;
    color: #6B7376;
    display: flex;
    justify-content: center;
    align-items: center;
}